* { border: 0px solid blue; }  /* for testing purposes */

body {
	background: url("../images/background.jpg") no-repeat center center;
  background-size: cover;
	color: #000000;
	/*padding-top: 50px;*/
	font-family: 'Raleway', sans-serif; }

/*.container{
	background-color: rgba(0,0,0,0.7);
}*/

.header {
	min-height: 300px;
  text-align: center;
	color: #fafafa;
	text-shadow: 2px 2px 2px rgba(237, 237, 237, 0.5);
  background-size: cover;
  padding: 4rem;
  margin-bottom: 20px; }
#langsel {
	text-align: right;
	margin-bottom: 40px; }
h1 {
	font-size: 3em;
	padding-top: 80px; }
h2 {
	color: #b8976b;
	padding-bottom: 20px; }
p {
	font-size: 17px; }
a, a:focus, a:active {
	text-decoration: none;
	color: #dd002a; }
a:hover {
	text-decoration: underline;
	text-decoration-color: transparent;;
	transition: all 1s ease;
	color: #dd002a; }

.navbar-inverse {
	color: #000000;
	border: 0px;
	border-bottom: 0px solid #dd002a;
	background-color: rgba(237,237,237,0.8); }
.navbar-inverse .navbar-nav li a {
	color: #000000;
	border-bottom: 3px solid transparent;
/*transition: all 0.2s ease-out;*/ }
.navbar-inverse .navbar-nav li a:hover {
	color: #dd002a;
	content: attr(hover);
	transition: all 0.2s ease-out;
	border-bottom: 3px solid #dd002a; }
.navbar-inverse .navbar-brand {
	color: #000000; }
.navbar-inverse .navbar-brand:hover {
	color: #dd002a; }
.navbar-brand img {
  max-height: 100%;
  display: inline-block; }

.text-orange {
	color: #e68a00; }
.text-footer {
	font-size: 12px; }
.footer {
	/*position: sticky;
	bottom: -1px;*/
	color: #fafafa;
	min-height: 70px;
	margin-top: 30px;
	padding-top: 30px;
	background-color: #0d0d0d; }

.fotothumb {
  border: 0px;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.5);
  display: inline-block;
  line-height: 0;
  max-width: 100%;
  transition: box-shadow 200ms ease-out;
  border-radius: 0;
  margin-bottom: 1rem; }
.fotothumb:hover, .fotothumb:focus {
  box-shadow: 0 0 6px 1px rgb(200, 167, 123); }
